/*  ***************** Clases ******************** */
.preguntaAnalizarClase{
    border-style: solid;
    top: 1%;
    left: 30%;
    position: absolute;
    width: 69%;
    height: 97%;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: 3%;
}



.bloque-preguntaAnalizar{
    position: relative;
    top: 0%;
    left: 1%;
    width: 100%;
    height: 30%;
}

.evaluarAnalizarClase{
    position: absolute;
    top: 88%;
    left: 10%;
    width: 10%;
    height: 7%;
    z-index: 100;
    background-color: #f44336;
    border-radius: 7%;
    border-color: #f44336;
}

.bloqueAnalizarClase{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 40%;
    top: 1%;
    position: relative;
    border-color: black;
    border-style: outset;
    height: 33px;
    margin: 5px;
   padding: 0;
   list-style-type: none;
   orientation: horizontal;
   display: flex;
    align-items: right;
    gap: 1.8rem;
    border-radius: 3%;
}


.bloqueAnalizarClase:nth-child(1){
    position: absolute;
    left: 1%;
    top: 1%;
    width: 15%;
    height: 45%;
}
/* Nombre Clase */
.bloqueAnalizarClase:nth-child(2){
    position: absolute;
    left: 65%;
    top: 10%;
    width: 15%;
    height: 5%;
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

/* Atributos */
.bloqueAnalizarClase:nth-child(3){
    position: absolute;
    left: 72%;
    top: 22%;
    width: 15%;
    height: 5%;
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

/* Constructor */
.bloqueAnalizarClase:nth-child(4){
    position: absolute;
    left: 32%;
    top: 43%;
    width: 15%;
    height: 5%;
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

/* Zona privada */
.bloqueAnalizarClase:nth-child(5){
    position: absolute;
    left: 32%;
    top: 21%;
    width: 15%;
    height: 5%;
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

/* Métodos */
.bloqueAnalizarClase:nth-child(6){
    position: absolute;
    left: 80%;
    top: 63%;
    width: 15%;
    height: 5%;
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

/* Zona Pública */
.bloqueAnalizarClase:nth-child(7){
    position: absolute;
    left: 32%;
    top: 63%;
    width: 15%;
    height: 5%;
    border-radius: 5%;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

.container-Bloom{
    align-items: center;
    justify-content: center;
    border-color: rgb(0, 0, 0);
    width: 4%;
    height: 50px;
    border-style: solid;
    top: 90px;
    left: 20px;
    position: absolute;
    border-radius: 3%;
}

.orientacionAnalizarClase{
    border-color: black;
    border-style: solid;
    top: 50%;
    left: 0.5%;
    position: absolute;
    width: 29%;
    height: 48%;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 3%;
}

/* ***************** Objetos ******************** */

.DiagramaObjeto{
    top: 40%;
    left: 5%;
    position: absolute;
    width: 20%;
    height: 45%;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.DiagramaObjeto:hover{
    transform: scale(1.2);
}

.bloquesito:hover{
    position: absolute;
    transform: scale(1.5);
    z-index: 100;
}

.preguntaAnalizarrObjeto{
    border-color: black;
    border-style: solid;
    top: 1%;
    left: 0.5%;
    position: absolute;
    width: 30%;
    height: 97%;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}



.evaluarAnalizarObjeto{
    position: absolute;
    top: 88%;
    left: 10%;
    width: 10%;
    height: 7%;
    z-index: 1000;
    background-color: #f44336;
    border-radius: 7%;
    border-color: #f44336;
}

.evaluarAnalizarObjeto:hover{
    border-color: black;
}

.img1, .img2, .img3, .img4, .img5, .img6{
    position: relative;
    width: 100%;
    height: 50%;
}

.img1{
    top: 0%;
    left: 0%;
}

.BloqueAnalizarObjeto:nth-child(1){
    position: relative;
    top: 0%;
    left: -15%;
}

.BloqueAnalizarObjeto:nth-child(2){
    position: relative;
    top: 0%;
    left: -10%;
}

