.margenExterior{
    position:absolute;
    width: 50%;
    height: 70%;
    top: 15%;
    left: 10%;
    border-color: #000000;
    border-style: solid;
    border-radius: 3%;
}

.margenInterior{
    position:absolute;
    width: 97%;
    height: 97%;
    top: 1%;
    left: 1%;
    border-color: #000000;
    border-style: solid;
    border-radius: 3%;
    
}

.fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 2%;
}

.LogoApp{
    width: 10%;
    height: 14%;
    position: absolute;
    top: 3%;
    left: 3%;
    border-radius: 50%;
}

.Nombre-Logo{
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-family: cursive;
    position: absolute;
    top: -1%;
    left: 14%;
    font-weight: bold;
}

.container-datos{
    position: absolute;
    border-color: #000000;
    border-style: solid;
    width: 60%;
    height: 20%;
    top: 25%;
    left: 22%;
    border-radius: 3%;
}

.Img-Perfil{
    width: 18%;
    height: 80%;
    top: 50%;
    left: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: black;
    border-radius: 50%;
    border: black solid;
}

.nombreUser{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: cursive;
    position: absolute;
    left: 20%;
    font-weight: bold;
}

.Correo{
    color:rgb(0, 0, 0);
    font-size: 19px;
    font-family: cursive;
    position: absolute;
    top: 33%;
    left: 20%;
    font-weight: bold;
}

.FormularioActualizacion{
    width: 300px;
    height: 300px;
    background: white;
    color: rgb(0, 0, 0);
    top: 45%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 70px 30px;
    border: black;
    border-radius: 3%;
    
}

.tabla1{
    font-size: 20px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 60%;
    left: 10%;
    width: 60%;
}

.tabla2{
    font-size: 20px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 60%;
    left: 60%;
    width: 60%;
}

.etiqueta{
    font-weight: bold;
}

.FormularioActualizacion{
    width: 25%;
    height: 55%;
    background: white;
    color: rgb(0, 0, 0);
    top: 42%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 70px 30px;
    border: black;
    border-radius: 3%;
}

.buttonOK{
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 48%;
    height: 35px;
    padding: 1px 1px;
    font-family: inherit;
    font-size: 14px;
    border-radius: 5px;
    background-color: #dfdbdb;
    margin:center;
    color: rgb(206, 199, 199);
    text-align: center;
    text-decoration: none;
    margin: 10px 70px; 
    color:black;
    border-color: black;
    border: 1px solid black;
    top: -30px;
    left: 10px; 
}

.buttonOK:hover{
    border-color: white;
}

.buttonOK:focus{
    outline: 0;
}

.buttonOK:active{
    transform: scale(0.98);
}

.FormularioActualizacion input{
    position: top;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(235, 231, 231);
    border: 1px solid #393e467d;
    display: block;
    height: 30px;
    padding: 1px 0;
    font-size: 12px;
    color: rgb(0, 0, 0);
    position: relative;
    top: -20px;
}

.buttonEdit{
    position: absolute;
    top: 1%;
    left: 88%;
    width: 10%;
    height: 7%;
    z-index: 10%;
    background-color: #f44336;
    border-radius: 7%;
    border-color: #f44336;
}


.Trofeos{
    margin: 0;
   padding: 0;
   list-style-type: none;
   orientation: horizontal;
   display: flex;
    align-items: right;
    top: 0.5%;
    left: 75vw;
    position: absolute;
    width: 20%;
    height: 8%;
}

.Trofeos .item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
    position: relative;
    orientation: horizontal;
    padding-left: 7px;
    left: 45px;
}

.Trofeos .Trofeo{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
    border-color: gray;
    border-style: solid;
}

.TrofeoClase{
    position: absolute;
    top: 75%;
    left: 47%;
    width: 13%;
    height: 20%;
}

.TrofeoObjeto{
    position: absolute;
    top: 75%;
    left: 60%;
    width: 13%;
    height: 20%;
}

.TrofeoMetodo{
    position: absolute;
    top: 75%;
    left: 73%;
    width: 13%;
    height: 20%;
}

.TrofeoAtributo{
    position: absolute;
    top: 75%;
    left: 86%;
    width: 13%;
    height: 20%;
}