.formularioPerfil{
    width: 300px;
    height: 300px;
    background: white;
    color: rgb(0, 0, 0);
    top: 45%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 70px 30px;
    border: black;
    border-radius: 3%;
    
}

.ImgPerfil{
    width: 150px;
    height: 150px;
    top: 30%;
    left: 85%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: black;
    border-radius: 3%;
    border: black solid;
}

.tabla1{
    font-size: 20px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 250px;
    left: 35px;
    width: 60%;
}

.nombreUser{
    position: absolute;
    top: 10px;
    left: 64px;
}

.etiqueta{
    font-weight: bold;
}

.perforado1{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #000000;
        top: 10%;
        left: 80%;
        position: relative;
        orientation: vertical;
        margin: 15px;

}



.btn-editar{
    width: 60px;
    height: 30px;
    color: rgb(0, 0, 0);
    top: 80%;
    left: 15%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 20px;
    padding: 20px 20px;
    border: black;
    border-radius: 10%;
}

.otroPerfil{
    width: 350px;
    height: 500px;
    background: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 15%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 70px 30px;
    border: rgb(0, 0, 0) solid 3px;
    border-radius: 3%;
    font-size: 30px;
}

.Perfil{
    width: 350px;
    height: 500px;
    background: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 41%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 70px 30px;
    border: rgb(0, 0, 0) solid 3px;
    border-radius: 3%;
    font-size: 30px;
}

.margen{
    width: 100%;
    height: 100%;
    max-height: 500px;
    position: absolute;
    top: 3%;
    left: 3%;
    background-repeat: no-repeat;
    border-radius: 3%;

}

.ImgSPerfil{
    width: 320px;
    height: 470px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 3%;
    border: black solid 3px;
}

.LogoApp{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8%;
    left: 23%;
    border-radius: 50%;
}

.ImgPerfil{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: 47%;
    border-radius: 50%;
}

.NombreLogo{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: cursive;
    position: absolute;
    top: 7%;
    left: 38%;
    font-weight: bold;
}

.Nombre{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: cursive;
    position: absolute;
    top: 27%;
    left: 27%;
    font-weight: bold;
}

.Correo{
    color:rgb(0, 0, 0);
    font-size: 19px;
    font-family: cursive;
    position: absolute;
    top: 33%;
    left: 3%;
    font-weight: bold;
}









