/* ********************    Clases    ************************ */

.preguntaComprenderClase{
    border-color: black;
    border-style: solid;
    top: 1%;
    left: 0.5%;
    position: absolute;
    width: 30%;
    height: 97%;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.diagramaClase{
    top: 40%;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 50%;
    justify-content: center;
    text-align: center;
    z-index: 1;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.ClaseComprenderOpcion1{
    top: 0%;
    left: 34%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}


.ClaseComprenderOpcion1:hover{
    transform: scale(2);
    left: 50%;
    top: 22%;
    z-index: 2;
}

.ClaseComprenderOpcion1:active{
    border-color: black;
    background-color: black;
    border-width: 50%;
}

.ClaseComprenderOpcion1:visited{
    background-color: black;
    background: black;
    border-color: black;
    background-color: black;
    border-width: 50%;
    
}

.ClaseComprenderOpcion2{
    top: 0%;
    left: 67%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.ClaseComprenderOpcion2:hover{
    scale: 2;
    left: 50%;
    top: 22%;
    z-index: 2;
}

.ClaseComprenderOpcion3{
    top: 42%;
    left: 34%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.ClaseComprenderOpcion3:hover{
    scale: 2;
    left: 50%;
    top: 22%;
    z-index: 2;
}

.ClaseComprenderOpcion4{
    top: 42%;
    left: 67%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-style: solid;
    z-index: 500px;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;

}

.ClaseComprenderOpcion4:hover{
    transform: scale(2);
    left: 50%;
    top: 22%;
    z-index: 2;
}

.evaluar-comprenderClase{
    position: absolute;
    top: 91%;
    left: 5%;
    width: 20%;
    height: 5%;
    z-index: 10%;
}

.Seleccionador{
    position: absolute;
    top: 90%;
    left: 35%;
    z-index: 100;
    color: BLACK;
}

/* ********************    Objetos    ************************ */
.preguntaComprenderObjeto{
    border-color: black;
    border-style: solid;
    top: 1%;
    left: 0.5%;
    position: absolute;
    width: 30%;
    height: 97%;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}


.ObjetoComprenderOpcion1{
    top: 45%;
    left: 40%;
    position: absolute;
    width: 20%;
    height: 10%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}


.ObjetoComprenderOpcion2{
    top: 45%;
    left: 67%;
    position: absolute;
    width: 20%;
    height: 10%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.ObjetoComprenderOpcion3{
    top: 67%;
    left: 40%;
    position: absolute;
    width: 20%;
    height: 10%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.ObjetoComprenderOpcion4{
    top: 67%;
    left: 67%;
    position: absolute;
    width: 20%;
    height: 10%;
    border-style: solid;
    z-index: 500px;
    border-radius: 5%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;

}

.evaluar-comprenderObjeto{
    position: absolute;
    top: 91%;
    left: 5%;
    width: 20%;
    height: 5%;
    z-index: 10%;
}

.Seleccionador{
    position: absolute;
    top: 90%;
    left: 35%;
    z-index: 100;
    color: BLACK;
}

.opcionesComprenderObjetos{
    position: absolute;
    top: 3%;
    left: 32%;
    width: 65%;
    height: 35%;
    z-index: 100;
    border-radius: 3%;
}

/* ********************    Métodos    ************************ */

/* ********************    Atributos    ************************ */