.Posiciones{
    position: absolute;
    background-color: #DBDBDB;
    top: 12%;
    left: 78%;
    width: 20%;
    height: 85%;
    color: black;
    border-radius: 2%;
    border-color:gray;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.titulosPosicion:nth-child(1){
    position: absolute;
    top: 0;
    left: 3%;
    width: 100%;
    height: 10%;
    text-align: left;
    font-size: 1em;
}

.titulosPosicion:nth-child(2){
    position: absolute;
    top: 0;
    right: -72%;
    width: 100%;
    height: 10%;
    text-align: left;
    font-size: 1em;
}

.titulosPosicion:nth-child(3){
    position: absolute;
    top: 0;
    left: 80%;
    width: 100%;
    height: 10%;
    text-align: left;
    font-size: 1em;
}


.numeros{
    position: relative;
    top: 0%;
    left: -15%;
    width: 10%;
    height: 30%;
    orientation: vertical;
    color: black;
    align-items: center;
    margin: 2px;
}

.posicion:nth-child(1){
    position: relative;
    top: 0%;
    left: -12%;
    width: 10%;
    height: 30%;
}


.posicion:nth-child(2){
    position: relative;
    top: 0%;
    right: -20%;
    width: 10%;
    height: 30%;
}

.resultadosposicion{
    position: absolute;
    top: 1%;
    left: 10%;
    width: 100%;
    height: 30%;
    margin: 10px;
}

.Actualizar{
    position: absolute;
    top: 90%;
    left: 10%;
    width: 10%;
    height: 10%;
    color: black;
    border-radius: 3%;
    border-color:gray;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.lineaPositions{
    position: relative;
    top: 0%;
    left: -13%;
    
}

.lineaSeparaciones{
    position: relative;
    width: 175%;
    top: 0%;
    left: -100%;
}


.ActualizarTabla{
    position: absolute;
    top: 88%;
    left: 40%;
    width: 30%;
    height: 7%;
    z-index: 10%;
    background-color: #456C86;
    border-radius: 7%;
    border-color: #456C86;
}

