.Total{
    width: 400px;
    height: 60px;
    background: white;
    color: rgb(0, 0, 0);
    top: 7vh;
    left: 90vw;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 60px 30px;
    border: black;
    
}



.container-Bloom1{
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    position: absolute;
    width: 70%;
    height: 80%;
    top: 15%;
    left: 2%;
}
