.Total{
    width: 400px;
    height: 60px;
    background: white;
    color: rgb(0, 0, 0);
    top: 7vh;
    left: 90vw;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 60px 30px;
    border: black;
    
}



.Saltar{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 7%;
    height: 7%;
    z-index: 10%;
    background-color: #f44336;
    border-radius: 7%;
    border-color: #f44336;
}



.container-Bloom1{
    align-items: center;
    background: #DBDBDB;
    justify-content: center;
    border-color: black;
    border-style: solid;
    position: absolute;
    width: 75%;
    height: 87%;
    top: 11%;
    left: 2%;
    border-radius: 2%;
}
