li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: rgb(204, 204, 204);
  }
  
  .NavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    background: black;
  }
  .nav__brand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
  }

  .nav__brandBlock{
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin: 0 auto;
    display: block;
  }

  .nombre{
    margin: 0 auto;
    top: -15px;
    left: 10px;
    position: relative;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
    position: absolute;
    left: 100px;
  }
  
  @media screen and (max-width: 768px) {
    .nav__toggler {
      display: block;
      cursor: pointer;
    }
    .nav__menu {
      position: absolute;
      top: 7vh;
      right: 0;
      height: 93vh;
      width: 20vw;
      background: black;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }
  /* Active Class */
  .nav__active {
    transform: translateX(0%);
  }


  .ProgresoTotal{
    width: 530px;
    height: 60px;
    background: whitesmoke;
    color: rgb(0, 0, 0);
    top: 40px;
    left: 81vw;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 60px 30px;
    border: black;
    align-items: left;    
}

.Medalla{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 13px;
    border-radius: 50%;

}

.Trofeos{
    margin: 0;
   padding: 0;
   list-style-type: none;
   orientation: horizontal;
   display: flex;
    align-items: right;
    gap: 3rem;
    top: 5vh;
    left: 75vw;
    position: absolute;


}

.Trofeos .item{
    width: 15px;
    height: 10px;
    display: flex;
    align-items: center;
    margin: 0px;
    position: relative;
    orientation: horizontal;
    padding-left: 7px;
    left: -45px;
}

.Trofeos .Trofeo{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
    border-color: gray;
    border-style: solid;
}