.Navbar .logoNavbar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    margin: 0 left;
    display: block;
    margin-bottom: 30px;
}



.Navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 14, 14);
    border-bottom: 1px solid #393e467d;
    position: relative;
}

.Navbar .Menu{
    display: none;
    background-color: blue;
    position: absolute;
    top: 100%;
    width: 100%;
}

.Container{
    min-height: 45px;
    position: relative;
    width: 150px;
    float: right;
    background-color: gray;
    text-align: center;
}

.Text{
    color: white;
    padding: 12px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -10px;
}


.Container .Text:hover{
    color: rgb(0, 0, 0);
}

.Container:hover .Menu{
    background-color: rgb(0, 0, 0);
    display: block;
}

.Opcion{
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -10px;
    min-height: 45px;
}