.imagen1, .imagen2, .imagen3, .imagen4, .imagen5{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    border-radius: 1.2%;
}



.Atras{
    position: absolute;
    width: 8%;
    height: 8%;
    top: 45%;
    left: 0.5%;
    z-index: 100;
    background-color: #456C86;
    border-radius: 7%;
    border-color: #456C86;
}

.Atras:hover{
    border-color: black;
}

.Siguiente{
    position: absolute;
    width: 8%;
    height: 8%;
    top: 45%;
    right: 0.5%;
    z-index: 100;
    background-color: #456C86;
    border-radius: 7%;
    border-color: #456C86;
}

.Siguiente:hover{
    border-color: black;
}




.botonSelector {
    position: absolute;
    width: 15%;
    height: 15%;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #000000;
    border-radius: 8%;
    z-index: 100;
    background-color: #456C86;
    border-radius: 7%;
    border-color: #456C86;
    
}


.botonSelector:hover{
    border-color: black;
}

.botonSelector:nth-child(1){
    position: absolute;
    top: 30%;
    left: 33%;
}

.botonSelector:nth-child(2){
    position: absolute;
    top: 30%;
    left: 53%;
}

.botonSelector:nth-child(3){
    position: absolute;
    top: 50%;
    left: 33%;
}

.botonSelector:nth-child(4){
    position: absolute;
    top: 50%;
    left: 53%;
}

