.bloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 180px;
    top: 18px;
    position: relative;
    border-color: black;
    border-style: solid;
    height: 33px;
    margin: 5px;
   padding: 0;
   list-style-type: none;
   orientation: horizontal;
   display: flex;
    align-items: right;
    gap: 1.8rem;
}

.bloque:nth-child(1){
    left: 180px;
    top: 18px;
    width: 150px;
    height: 300px;
}


.container-Bloom{
    align-items: center;
    justify-content: center;
    border-color: rgb(0, 0, 0);
    width: 940px;
    height: 500px;
    border-style: solid;
    top: 90px;
    left: 20px;
    position: absolute;
}

.orientacion{
    border-color: black;
    border-style: solid;
    top: 20px;
    left: 20px;
    position: absolute;
    width: 330px;
    height: 463px;
    justify-content: center;
    text-align: center;
}

.btn-Bloom{
    border-color: black;
    border-style: solid;
    top: 440px;
    left: 620px;
    position: absolute;
    width: 70px;
    height: 43px;
    justify-content: center;
}

.bloqueEvaluarClase{
    position: absolute;
    width: 100%;
}

.bloqueEvaluarClase:nth-child(1){
    position: absolute;
    left: 1%;
    top: 1%;
    width: 15%;
    height: 45%;
}
/* Nombre Clase */
.bloqueEvaluarClase:nth-child(2){
    position: absolute;
    left: 65%;
    top: 10%;
    width: 15%;
    height: 5%;
    border-radius: 3%;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

.Container-draganddropEvaluarClase{
    position: relative;
    left: 1%;
    top: 1%;
    width: 100%;
}



