.porcentaje{
    color: white;
    font-size: 1.8em;
    margin-bottom: 15px;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1000;
}
  
  
.outer{
    position: absolute;
    top: 20%;
    left: 50%;
    display: flex;
    align-items: center;
    height: 40%;
    width: 40%;
    border: 5px solid #2f416d;
    border-radius: 50px;
    background: #2e86de;
    z-index: 1000;
}

.contenedorBarra{
    position: absolute;
    top: 90%;
    left: 58%;
    border: 1px solid;
    box-shadow: 5px 10px 8px #ce1313;
    border-color: black;
    border-style: solid;
    width: 40%;
    height: 7%;
    border-radius: 3%;
}
  
  
.inner{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: #ee5253;
    border-radius: 25px;
    transition: width 100ms ease-out;
    z-index: 1000;
}
  
  
.botontempo{
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    border: transparent;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    transition: 50ms ease-out;
    position: absolute;
    top: 85%;
    left: 60%;
    z-index: 1000;
}

.porcentaje{
    position: absolute;
    top: -40%;
    left: 15%;
    z-index: 1000;
}

button:hover{
    transform: scale(1.04);
}

button:active{
    transform: scale(1.09);
}
  