.pregunta{
    border-color: black;
    border-style: solid;
    top: 20px;
    left: 20px;
    position: absolute;
    width: 330px;
    height: 463px;
    justify-content: center;
    text-align: center;
}

.diagrama{
    top: 20%;
    left: 0%;
    position: absolute;
    width: 330px;
    height: 280px;
    justify-content: center;
    text-align: center;
}

.opcion1{
    top: 4%;
    left: 38%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-color: black;
    border-style: solid;
}

.img1{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
}



.opcion2{
    top: 4%;
    left: 69%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-color: black;
    border-style: solid;
}

.opcion3{
    top: 47%;
    left: 38%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-color: black;
    border-style: solid;
}

.opcion4{
    top: 47%;
    left: 69%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-color: black;
    border-style: solid;
}

.evaluar-comprenderClase{
    position: absolute;
    top: 91%;
    left: 65%;
    width: 7%;
    height: 5%;
}